<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189957318522-712vseko4kglc4g8l8nta8rv8onh4bad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189957318522-712vseko4kglc4g8l8nta8rv8onh4bad</string>
	<key>API_KEY</key>
	<string>AIzaSyBlwYZzGRzXO4qfcsktveKWbwn-oBEPgx4</string>
	<key>GCM_SENDER_ID</key>
	<string>189957318522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-658e3</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-658e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189957318522:ios:2607911f7d683543df98c3</string>
</dict>
</plist>